*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

node_modules/
**/node_modules/
*.log
hs_err_pid*.log

*.class
*.dex
*.apk
*.ap_
*.aab

.gradle/
build/
**/build/
*.jar
!gradle-wrapper.jar

.idea/
*.swp
*.swo
*~

.vscode/
*.code-workspace