spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  
  flyway:
    enabled: true
    baseline-on-migrate: true

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    com.nicorp.nimetro: INFO
    org.springframework.security: WARN
    org.hibernate.SQL: WARN

api:
  key:
    header-name: X-API-Key

